@use './base' as b;

.header {
    background-color: b.$color-grey-dark-1;
    grid-column: full-start / col-end 6;

    background-image: linear-gradient(
            rgba(b.$color-secondary, 0.93),
            rgba(b.$color-secondary, 0.93)
        ),
        url(../img/hero.jpeg);
    background-size: cover;
    background-position: center;
    padding: 8rem;
    padding-top: 4rem;

    display: grid;
    grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr; // we want the row spaces; determine the height top to bottom one at a time; responsive
    grid-template-columns: minmax(min-content, max-content); // responsive
    grid-row-gap: 1.5rem;
    justify-content: center;

    @media only screen and (max-width: b.$bp-medium) {
        grid-column: 1 / -1;
    }

    @media only screen and (max-width: b.$bp-small) {
        padding: 5rem;
    }

    &__logo {
        height: 3rem;
        justify-self: center;
    }

    &__btn {
        align-self: start;
        justify-self: start;
    }

    &__seenon-text {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-column-gap: 1.5rem;
        align-items: center;

        font-size: 1.6rem;
        color: b.$color-grey-light-2;

        &::before,
        &::after {
            content: "";
            height: 1px;
            display: block;
            background-color: currentColor;
        }
    }

    &__seenon-logos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 3rem;
        justify-items: center;
        align-items: center;

        img {
            max-height: 2.5rem; // the height can be less than 2.5rem; responsive
            max-width: 100%; // the width can be less than 2.5rem; responsive
            filter: brightness(70%);
        }
    }
}
